%h1 Listing pages

%table.table
  %tr
    %th Published
    %th Title
    %th Layout
    %th Permalink
    %th Categories
    %th Tags
    %th Content
    %th Date
    %th Site
    %th
    %th
    %th

  - @pages.each do |page|
    %tr
      %td= page.published
      %td= page.title
      %td= page.layout
      %td= page.permalink
      %td= page.categories
      %td= page.tags
      %td= truncate page.content
      %td= page.date
      %td= page.site
      %td= link_to 'Show', site_page_path(page.site, page)
      %td= link_to 'Edit', edit_site_page_path(page.site, page)
      %td= link_to 'Destroy', site_page_path(page.site, page), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Page', new_site_page_path(params[:site_id])
