<!DOCTYPE html>
<html>
<head>
  <title>SiteMaker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
  <header class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <%= render 'layouts/navigation' %>
    </div>
  </header>
  
  <main role="main">
    <div class="container" >
      <div class="content">
         <div class="row">
          <div class="col-md-12">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
        </div>
        <footer>
        </footer>
      </div>
    </div> <!--! end of .container -->
  </main>
</body>
</html>
